*{
    margin: 0;
    box-sizing: border-box;
}


header{
    margin-bottom:80px
}

.header-logo-nav-container{
    top: 0;
    left: 0;
    right: 0;
    width:1300px;
    height:80px;
    padding: 20px 110px;
    position:fixed;
    border-bottom: rgb(143, 142, 142) solid 1px;
    
}

.flex{
    display:flex;
    justify-content: space-between;
    align-items:center;

}

.header-logo{
    width: 200px;
}

.header-nav-span{
    font-weight: bold;
    color:gray
}

.header-intro{
    margin-top: 150px; 
    margin-right:138.333px;
    margin-left:138.333px;
}

.header-image{
    height:400px;
    width:350px
}

.header-get-started{
    height:300px;
    max-width:600px
}

.header-title{
    margin-bottom: 70px;
    font-family:cursive sans-serif
}

.header-buttons{
    height:120px;
    width:400px;
    gap:10px
}

.column{
    flex-direction: column;
}

.header-button{
    width: 300px;
    height:50px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 1px;
    border: 0;
}

.green-button{
    background-color: green;
    color:white;
    font-weight: bold;
}

.green-button:hover{
    background-color: #58cc02;
}

.white-button{
    background-color:white;
    color:rgb(56, 157, 220);
    font-weight: bold;
}

.white-button:hover{
    background-color: gainsboro;
}

.languages{
    height:80px;
    padding-right:100px;
    padding-left:100px;
    gap:5px;
    border-top: solid gray 1px;
    border-bottom: solid gray 1px;
}

.overflow{
    overflow-x: scroll;
}

.overflow::-webkit-scrollbar {
    display: none;
}

.language{
    width:180px;
    justify-content:center;
    gap:7px
}

.languages img{
    width:30px;
    height: 20px
}

.language > h4{
    width:100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.advantages-container{
    justify-content:space-evenly !important;
    gap:100px
}

.advantage{
    justify-content: space-around;
}

.advantage-info{
    width: 500px;
    gap:40px;
    align-items:start
}

.advantage-info > h1{
    color:#58cc02;
    font-size:50px
}

.advantage-img{
    width:500px
}

.download-container{
    background-color: rgb(144, 210, 250);
    justify-content: center;
    height:395px;
    width:100%
}

.download-container h1{
    font-size: 60px;
    width:500px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:darkblue
}

.download{
    gap:40px
}

.download-links{
    gap:20px
} 
.download-links  button{
    width:140px;
    height:60px;
    border-radius: 10px;
    border-color: hsl(39, 100%, 50%);
    font-weight: bold;
    color:rgb(86, 84, 84);
    border-width: 0.4px;
}

.download-links img{
    width:20px
}

.download-links  button:hover{
    background-color:rgb(174, 183, 193)
}

footer img{
    width:100%;
}

.footer-container{
    gap:30px;
    align-items: start;
    background-color:#58cc02;
    color:white;
    padding: 20px;
    border-bottom: white solid 1px;
}

.genre{
    justify-content: start;
    align-items: start;
    gap:20px
}



.footer-languages-container{
    padding: 20px;
    background-color: #58cc02;
    color:white;
    gap:20px;
    align-items:start
}


.footer-languages{
    gap:20px;
    color:white
}

.wrap{
    flex-wrap: wrap;
}